{
  "swagger" : "2.0",
  "info" : {
    "description" : "",
    "version" : "1.0.3",
    "title" : "Appeagle API",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "name" : "Mark Hanna",
      "email" : "mark@appeagle.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "api.informed.co",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/price/{marketplaceID:int}" : {
      "get" : {
        "tags" : [ "price" ],
        "summary" : "Returns listing pricing",
        "description" : "Returns pricing information for a specific listing",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Price"
            },
            "examples" : {
              "application/json" : "    {\n        \"Sku\": \"FISDIGCAM\",\n        \"UserID\": 8208,\n        \"MarketplaceID\": 10020,\n        \"MinPrice\": 2.46,\n        \"MaxPrice\": 6.99,\n        \"CurrentPrice\": 5.15,\n        \"CurrentShipping\": 1.50,\n        \"MapPrice\": 2.25,\n        \"Cost\": 2.01,\n        \"CostCurrency\": 1\n    }\n"
            }
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "parameters" : [ {
        "name" : "marketplaceID:int",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "description" : "ID of the marketplace you want to get pricing information for",
        "x-example" : 10200
      } ],
      "x-restlet" : {
        "section" : "Price"
      }
    },
    "/price" : {
      "post" : {
        "tags" : [ "price" ],
        "summary" : "Update multiple listing prices",
        "description" : "Batch update listing pricing information",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Price"
          },
          "x-examples" : {
            "application/json" : "[    \n       {\n        \"marketplaceID\": 10200,\n        \"SKU\": EU-L9FK-6II9,\n        \"MinPrice\": 2.46,\n        \"MaxPrice\": 6.99,\n        \"CurrentPrice\": 5.15,\n        \"CurrentShipping\": 1.50,\n        \"MapPrice\": 2.25,\n        \"Cost\": 2.01,\n        \"CostCurrency\": 1\n       }\n       {\n        \"marketplaceID\": 10200,\n        \"SKU\": EU-L9FK-7789,\n        \"MinPrice\": 2.55,\n        \"MaxPrice\": 8.99,\n        \"CurrentPrice\": 4.19,\n        \"CurrentShipping\": 1.50,\n        \"MapPrice\": 2.99,\n        \"Cost\": 3.21,\n        \"CostCurrency\": 1\n        }\n  ]"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your pricing changes were successful"
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "put" : {
        "tags" : [ "price" ],
        "summary" : "Update a listing's price data",
        "description" : "Update pricing for a single listing",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Price"
          },
          "x-examples" : {
            "application/json" : "    {\n        \"marketplaceID\": 10200,\n        \"SKU\": EU-L9FK-6II9,\n        \"MinPrice\": 2.46,\n        \"MaxPrice\": 6.99,\n        \"CurrentPrice\": 5.15,\n        \"CurrentShipping\": 1.50,\n        \"MapPrice\": 2.25,\n        \"Cost\": 2.01,\n        \"CostCurrency\": 1\n    }"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Your pricing changes were successful"
          },
          "400" : {
            "description" : "Invalid ID or SKU"
          }
        }
      },
      "x-restlet" : {
        "section" : "Price"
      }
    },
    "/prices/{marketplaceID:int}/{SKU}" : {
      "get" : {
        "tags" : [ "price" ],
        "summary" : "Returns pricing info",
        "description" : "Returns pricing information for listings in a marketplace",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Price"
            },
            "examples" : {
              "application/json" : "[\n    {\n        \"Sku\": \"EU-L9FK-6II9\",\n        \"UserID\": 8208,\n        \"MarketplaceID\": 10020,\n        \"MinPrice\": 2.46,\n        \"MaxPrice\": 4.32,\n        \"CurrentPrice\": 30,\n        \"CurrentShipping\": 5.02,\n        \"MapPrice\": 0.02,\n        \"Cost\": 7.01,\n        \"CostCurrency\": 1\n    },\n    {\n        \"Sku\": \"FISDIGCAM\",\n        \"UserID\": 8208,\n        \"MarketplaceID\": 10020,\n        \"MinPrice\": 2.46,\n        \"MaxPrice\": 4.32,\n        \"CurrentPrice\": 30,\n        \"CurrentShipping\": null,\n        \"MapPrice\": null,\n        \"Cost\": 7.01,\n        \"CostCurrency\": 1\n    }\n]\n"
            }
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "parameters" : [ {
        "name" : "marketplaceID:int",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "The ID of the marketplace",
        "x-example" : "10200"
      }, {
        "name" : "SKU",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "The SKU of your listing",
        "x-example" : "EU-L9FK-6II9"
      } ],
      "x-restlet" : {
        "section" : "Price"
      }
    },
    "/strategyMappings/{marketplaceID:int}" : {
      "get" : {
        "tags" : [ "strategy" ],
        "summary" : "Returns strategies",
        "description" : "Returns which listings are mapped to which strategy by marketplace.",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Strategy"
            },
            "examples" : {
              "application/xml" : "{\n        \"Sku\": \"EU-L9FK-6II9\",\n        \"StrategyID\": 25109,\n        \"MarketplaceID\": 10020,\n        \"ListingType\": \"Amazon MFN\"\n    }\n"
            }
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "parameters" : [ {
        "name" : "marketplaceID:int",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "The ID of your marketplace",
        "x-example" : "10020"
      } ],
      "x-restlet" : {
        "section" : "Strategy"
      }
    },
    "/strategyMappings/{marketplaceID:int}/{SKU}" : {
      "get" : {
        "tags" : [ "strategy" ],
        "summary" : "Returns specific listing's strategy",
        "description" : "Retrieve a specific listing's strategy",
        "produces" : [ "application/xml", "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Strategy"
            },
            "examples" : {
              "application/xml" : "{\n        \"SKU\": \"EU-L9FK-6II9\",\n        \"StrategyID\": 25109,\n        \"MarketplaceID\": 10020,\n        \"ListingType\": \"Amazon MFN\"\n    }\n"
            }
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "parameters" : [ {
        "name" : "marketplaceID:int",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int64",
        "x-example" : 10200
      }, {
        "name" : "SKU",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "The SKU of your listing",
        "x-example" : "EU-L9FK-6II9"
      } ],
      "x-restlet" : {
        "section" : "Strategy"
      }
    },
    "/strategyMappings" : {
      "post" : {
        "tags" : [ "strategy" ],
        "summary" : "Update multiple strategies",
        "description" : "Batch update the strategy of multiple listings.",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Strategy"
          },
          "x-examples" : {
            "application/json" : "[ \n  {\n        \"SKU\": \"EU-L9FK-6II9\",\n        \"StrategyID\": 25109,\n        \"MarketplaceID\": 10020,\n    },\n{\n        \"SKU\": \"EU-L9FK-6688\",\n        \"StrategyID\": 35550,\n        \"MarketplaceID\": 10020,\n    }\n]    "
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Operation"
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "put" : {
        "tags" : [ "strategy" ],
        "summary" : "Update single strategy",
        "description" : "Update the strategy of a single listing.",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Strategy"
          },
          "x-examples" : {
            "application/json" : "{\n        \"SKU\": \"EU-L9FK-6II9\",\n        \"StrategyID\": 25109,\n        \"MarketplaceID\": 10020,\n    }"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          },
          "400" : {
            "description" : "Invalid ID"
          }
        }
      },
      "x-restlet" : {
        "section" : "Strategy"
      }
    },
    "/batchStatuses/{batchID:guid}" : {
      "get" : {
        "tags" : [ "Batch Status" ],
        "summary" : "Returns batch status",
        "description" : "Returns the status for a batch.",
        "parameters" : [ ],
        "responses" : {
          "102" : {
            "description" : "Processing - the batch request is currently processing"
          },
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Batch Status"
            },
            "examples" : {
              "application/json" : "{\n        \"BatchID\": \"a1e7fd1a-3038-4238-adc6-16d9efdb198b\",\n        \"OperationType\": \"UpdateSystemManaged\",\n        \"RequestedDate\": \"2017-08-15T13:50:15.123\",\n        \"Status\": \"Succeeded\",\n        \"ProcessedDate\": null,\n}"
            }
          },
          "400" : {
            "description" : "Batch ID does not exist"
          },
          "417" : {
            "description" : "Failed - there was an error processing this batch request"
          }
        }
      },
      "parameters" : [ {
        "name" : "batchID:guid",
        "in" : "path",
        "required" : true,
        "type" : "string",
        "description" : "The ID GUID of the batch you want the status of",
        "x-example" : "a1e7fd1a-3038-4238-adc6-16d9efdb198b"
      } ],
      "x-restlet" : {
        "section" : "Batch Status"
      }
    },
    "/systemManaged" : {
      "get" : {
        "tags" : [ "Managed Listing" ],
        "summary" : "Returns managed status",
        "description" : "Returns which of your listings are managed or not",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Managed Listings"
            },
            "examples" : {
              "application/json" : "{\n        \"Sku\": \"Sandisk3\",\n        \"MarketplaceID\": 10020,\n        \"SystemManaged\": false\n    }"
            }
          },
          "400" : {
            "description" : "Invalid username/password supplied"
          }
        }
      },
      "x-restlet" : {
        "section" : "Managed Listings"
      }
    }
  },
  "definitions" : {
    "Price" : {
      "type" : "object",
      "required" : [ "CostCurrency", "SKU", "marketplaceID" ],
      "properties" : {
        "marketplaceID" : {
          "type" : "integer",
          "description" : "The ID of your marketplace",
          "example" : 10020
        },
        "SKU" : {
          "type" : "string",
          "example" : "EU-L9FK-6II9",
          "description" : "SKU of the listing"
        },
        "userID" : {
          "type" : "integer",
          "description" : "Your Appeagle user ID",
          "example" : 8202
        },
        "MinPrice" : {
          "type" : "integer",
          "description" : "Minimum price of your listing",
          "example" : "2.33"
        },
        "MaxPrice" : {
          "type" : "integer",
          "description" : "Maximum Price of your listings",
          "example" : "5.14"
        },
        "CurrentPrice" : {
          "type" : "integer",
          "description" : "The current price of your listing",
          "example" : "3.55"
        },
        "CurrentShipping" : {
          "type" : "integer",
          "description" : "Cost of shipping for your listing",
          "example" : "0.19"
        },
        "MapPrice" : {
          "type" : "integer",
          "description" : "Amazon only field. Set  a MAP  price on Amazon to hide your item price, until the item has been added to a customer's cart.",
          "example" : "2.33"
        },
        "Cost" : {
          "type" : "integer",
          "description" : "Cost of your item",
          "example" : "1.44"
        },
        "CostCurrency" : {
          "type" : "integer",
          "description" : "The currency you are selling your item in",
          "example" : "CAD"
        }
      },
      "example" : "  {\n        \"Sku\": \"FISDIGCAM\",\n        \"UserID\": 8208,\n        \"MarketplaceID\": 10020,\n        \"MinPrice\": 2.46,\n        \"MaxPrice\": 4.32,\n        \"CurrentPrice\": 30,\n        \"CurrentShipping\": null,\n        \"MapPrice\": null,\n        \"Cost\": 7.01,\n        \"CostCurrency\": 1\n    }",
      "x-restlet" : {
        "section" : "Price"
      }
    },
    "Strategy" : {
      "type" : "object",
      "required" : [ "SKU", "marketplaceID" ],
      "properties" : {
        "marketplaceID" : {
          "type" : "integer",
          "description" : "ID of your marketplace",
          "example" : 10200
        },
        "SKU" : {
          "type" : "string",
          "example" : "EU-L9FK-6II9",
          "description" : "SKU of listing"
        },
        "strategyID" : {
          "type" : "integer",
          "description" : "ID of the strategy",
          "example" : 123599
        },
        "listingType" : {
          "type" : "string",
          "description" : "The type of listing",
          "enum" : [ "Amazon MFN", "Amazon FBA", "eBay Auction", "eBay Fixed Price" ]
        }
      },
      "x-restlet" : {
        "section" : "Strategy"
      }
    },
    "Batch Status" : {
      "type" : "object",
      "required" : [ "batchID" ],
      "properties" : {
        "batchID" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "The ID of the batch",
          "example" : "a1e7fd1a-3038-4238-adc6-16d9efdb198b"
        },
        "OperationType" : {
          "type" : "string",
          "example" : "UpdateSystemManaged",
          "description" : "Description of the batch"
        },
        "RequestedDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date of the request",
          "example" : "2017-08-15T13:50:15.123"
        },
        "Status" : {
          "type" : "string",
          "description" : "The status of your batch",
          "enum" : [ "Processing", "Succeeded", "Failed" ]
        },
        "ProcessedDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date the batch finished processing",
          "example" : "2017-09-25T16:44:11.123"
        }
      },
      "x-restlet" : {
        "section" : "Batch Status"
      }
    },
    "Managed Listings" : {
      "type" : "object",
      "properties" : {
        "SKU" : {
          "type" : "string",
          "description" : "SKU of the listing"
        },
        "marketplaceID" : {
          "type" : "integer",
          "description" : "ID of your marketplace",
          "example" : 10020
        },
        "systemManaged" : {
          "type" : "boolean",
          "example" : false,
          "description" : "Status of your listing"
        }
      },
      "x-restlet" : {
        "section" : "Managed Listings"
      }
    }
  },
  "x-restlet" : {
    "sections" : {
      "Hello and welcome to Appeagle's API!" : {
        "description" : "## You can use this API to access all our API endpoints, such as:\n## \n* Price\n* Strategy\n* Managed Listings\n* Batch status\n\n"
      },
      "Price" : {
        "description" : "Use this API endpoint to retrieve or change the pricing information of your listings. \n\nTo retrieve pricing information for a specific listing, you need the marketplace ID and the SKU.\n"
      },
      "Strategy" : {
        "description" : "The strategy API returns which listings are mapped to which strategy. You can also use it to change a listing’s strategy."
      },
      "Batch Status" : {
        "description" : "Use Batch Status to determine the status of a batch processing request."
      },
      "Managed Listings" : {
        "description" : "The Managed Listings API returns which of your listings are managed or not. "
      }
    },
    "texts" : {
      "e1dr5j9" : {
        "title" : "Authentication",
        "content" : "Authentication is done via the API key which you can request by going to the appeagle developer portal (http://dev.appeagle.com). <need instructions for the dev portal here> Requests are authenticated using HTTP Basic Auth. Provide your API key as the basic auth username. You do not need to provide a password.\n",
        "section" : "Hello and welcome to Appeagle's API!"
      },
      "r56fpxh" : {
        "title" : "Rate Limiting",
        "content" : "The Appeagle API returns 200 records per request.\n",
        "section" : "Hello and welcome to Appeagle's API!"
      },
      "rag1uen" : {
        "title" : "Status Codes",
        "content" : "Our API returns standard HTTP response codes. Examples of codes we use are:\n\n| Response | Description  | \n| -------- | -------- | -------- |\n| 200     | OK. Everything worked as planned.     | \n| 400     | Bad Request. The request was not accepted     | \n| 401     | Unauthorized. The API key provided was not valid.     |\n| 402     | Request Failed. The parameters were valid but the request failed.     | \n| 404     | Not Found. The resource doesn't exist.     | \n| 409     | Conflict. The request conflicts with another request (perhaps due to using the same idempotent key).     | \n| 429     | Too Many Requests. The API received too many requests.      | \n| 500, 502, 503, 504     | Server Errors. There was an issue with Appeagle’s API.     |\n\n\n",
        "section" : "Hello and welcome to Appeagle's API!"
      }
    }
  }
}